.clock-widget {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 20px 30px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    z-index: 9999;
    text-align: left;
    cursor: grab;
    color: white;
}

.clock-widget:active {
    cursor: grabbing;
}

