.header {
    position: fixed;
    top: 47%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 5px rgba(255,255,255,0.9),  0 0 15px rgba(255,255,255,0.6);
    transition: 0.8s;
}

.header:hover {
    text-shadow: 0 0 12px rgba(255, 0, 153, 0.9);
}

.top-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.middle-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
}

.bottom-section {
    margin-top: 40px;
}

.footer {
    position: fixed;
    bottom: 5px;
    right: 20px;
    padding: 12px 18px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    color: gray;
    font-size: 12px;
    z-index: 9999;
}
